[Unit]
Description=The ESO-Database uploader service file.
After=network.target

[Service]
ExecStart=/home/deck/Applications/ESO-Database/scripts/service/eso-database-uploader.sh
RestartSec=10
Restart=on-failure
KillSignal=SIGKILL
RestartKillSignal=SIGKILL

[Install]
WantedBy=default.target
