#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Update ESO-Database Client
Exec=/home/deck/Applications/ESO-Database/scripts/update.sh
Icon=/home/deck/Applications/ESO-Database/assets/images/logo.png
Terminal=true
Type=Application
Categories=Utility
StartupNotify=false
