#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ESO-Database Upload Data
Exec=/home/deck/Applications/ESO-Database/scripts/upload-addon-data.sh -d
Icon=/home/deck/Applications/ESO-Database/assets/images/logo.png
Terminal=true
Type=Application
Categories=Utility
StartupNotify=false
